.Rproj.user
.Rhistory
.RData
.Ruserdata

# Testing Files
Testing_file.R
candidate.dta
fit_FH_2F.rds
fit_FH_3F.rds
fit_cjbart.rds
imces.rds
imces_all.rds
imces_all_new.rds
var_imps.rds
var_imps_all_attributes_new.rds
Rplot.png
Ukraine Conjoint Data/

# new with add covars
fit_cjbart_add_covars.rds
imces_all_new_add_covars.rds
var_imps_all_attributes_new_add_covars.rds